In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('Homework 1 Data Mining.csv')

# Display the first few rows of the DataFrame to check its content
df.head()

C:\Users\somes\AppData\Local\Temp\ipykernel_17124\2979534051.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Homework 1 Data Mining.csv')

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,02/08/2020,2:18:00,5D,1700 CLIFTVIEW AVE,BURGLARY,I,NaN,312.0,EASTERN,DARLEY PARK,-76.593870,39.315341,NaN,GROCERY/CONFECTION,Eastern 1,1
1,02/08/2020,6:00:00,6G,700 N STREEPER ST,LARCENY,I,NaN,333.0,EASTERN,MADISON EASTEND,-76.577425,39.299094,NaN,ROW/TOWNHOUSE-OCC,NaN,1
2,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
3,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
4,02/08/2020,17:30:00,5A,1600 E OLIVER ST,BURGLARY,I,NaN,314.0,EASTERN,OLIVER,-76.595946,39.307350,NaN,ROW/TOWNHOUSE-OCC,Eastern 1,1

In [2]:
import pandas as pd

# Load the uploaded CSV file
file_path = 'Homework 1 Data Mining.csv'
df = pd.read_csv(file_path)

# Calculate the necessary statistics
min_values = df.select_dtypes(include=[float, int]).min()
max_values = df.select_dtypes(include=[float, int]).max()
mean_values = df.select_dtypes(include=[float, int]).mean()
median_values = df.select_dtypes(include=[float, int]).median()
std_values = df.select_dtypes(include=[float, int]).std()
total_rows = df.shape[0]
missing_values = df.isnull().sum()
percent_missing = (missing_values / total_rows) * 100

# Create the DataFrame with the desired information
df_info = pd.DataFrame({
    'Data Type': df.dtypes,
    'Missing Values': missing_values,
    'Percent Missing': percent_missing,
    'Unique Values': df.nunique(),
    'Min Value': min_values.reindex(df.columns),
    'Max Value': max_values.reindex(df.columns),
    'Mean': mean_values.reindex(df.columns),
    'Median': median_values.reindex(df.columns),
    'Standard Deviation': std_values.reindex(df.columns)
})

df_info

C:\Users\somes\AppData\Local\Temp\ipykernel_17124\3725423904.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,Data Type,Missing Values,Percent Missing,Unique Values,Min Value,Max Value,Mean,Median,Standard Deviation
CrimeDate,object,0,0.000000,2300,NaN,NaN,NaN,NaN,NaN
CrimeTime,object,26,0.008881,1475,NaN,NaN,NaN,NaN,NaN
CrimeCode,object,0,0.000000,81,NaN,NaN,NaN,NaN,NaN
Location,object,1336,0.456345,27064,NaN,NaN,NaN,NaN,NaN
Description,object,0,0.000000,14,NaN,NaN,NaN,NaN,NaN
Inside/Outside,object,33760,11.531591,4,NaN,NaN,NaN,NaN,NaN
Weapon,object,231229,78.982173,5,NaN,NaN,NaN,NaN,NaN
Post,object,2376,0.811584,259,NaN,NaN,NaN,NaN,NaN
District,object,0,0.000000,10,NaN,NaN,NaN,NaN,NaN
Neighborhood,object,10504,3.587910,278,NaN,NaN,NaN,NaN,NaN
Longitude,float64,1635,0.558476,97440,-81.529189,-76.383228,-76.617452,-76.613977,0.043734
Latitude,float64,1635,0.558476,95903,37.577262,39.661332,39.306746,39.302672,0.029658
Location 1,float64,292761,100.000000,0,NaN,NaN,NaN,NaN,NaN
Premise,object,34012,11.617668,125,NaN,NaN,NaN,NaN,NaN
vri_name1,object,258177,88.186951,8,NaN,NaN,NaN,NaN,NaN
Total Incidents,int64,0,0.000000,1,1.000000,1.000000,1.000000,1.000000,0.000000

## Here you cana see Column Location1, vri_name1 and Weapon has nearly about more than 80% of the values missing so we can drop that tables as it will not be that important in the analysis

## Deleting the columns having missing values more than 80%

In [ ]:
# Drop the columns 'Premise' and 'Weapon'
df = df.drop(columns=['Weapon', 'Location 1', 'vri_name1'])

In [7]:
df

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Post,District,Neighborhood,Longitude,Latitude,Premise,Total Incidents
0,02/08/2020,2:18:00,5D,1700 CLIFTVIEW AVE,BURGLARY,I,312.0,EASTERN,DARLEY PARK,-76.593870,39.315341,GROCERY/CONFECTION,1
1,02/08/2020,6:00:00,6G,700 N STREEPER ST,LARCENY,I,333.0,EASTERN,MADISON EASTEND,-76.577425,39.299094,ROW/TOWNHOUSE-OCC,1
2,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,314.0,EASTERN,OLIVER,-76.594992,39.306941,ROW/TOWNHOUSE-OCC,1
3,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,314.0,EASTERN,OLIVER,-76.594992,39.306941,ROW/TOWNHOUSE-OCC,1
4,02/08/2020,17:30:00,5A,1600 E OLIVER ST,BURGLARY,I,314.0,EASTERN,OLIVER,-76.595946,39.307350,ROW/TOWNHOUSE-OCC,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292756,01/01/1978,10:30:00,2A,1900 ARGONNE DR,RAPE,I,421.0,NORTHEAST,MORGAN STATE UNIVERS,-76.582056,39.340492,ROW/TOWNHOUSE-OCC,1
292757,05/01/1977,0:01:00,2A,600 W 34TH ST,RAPE,I,531.0,NORTHERN,WYMAN PARK,-76.626880,39.328817,ROW/TOWNHOUSE-OCC,1
292758,06/01/1975,0:00:00,2A,4400 OLD FREDERICK RD,RAPE,I,822.0,SOUTHWEST,UPLANDS,-76.691297,39.289582,OTHER - INSIDE,1
292759,07/20/1969,21:00:00,2A,5400 ROLAND AVE,RAPE,NaN,534.0,NORTHERN,ROLAND PARK,-76.635300,39.358898,NaN,1
292760,10/30/1963,0:00:00,2A,3100 FERNDALE AVE,RAPE,I,622.0,NORTHWEST,HOWARD PARK,-76.702636,39.326875,ROW/TOWNHOUSE-OCC,1

## Deleting the missing values where missing values are less than 5 percent

In [8]:
# Calculate the threshold for maximum allowed missing values
threshold = 0.05 * len(df)

# Identify columns where missing values are less than 5% of the dataset
cols_to_consider = df.columns[df.isnull().sum() < threshold]

# Drop rows where any of the identified columns have missing values
df_cleaned = df.dropna(subset=cols_to_consider)

# Save or proceed with the cleaned DataFrame
df_cleaned.head()  # Display the first few rows of the cleaned DataFrame

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Post,District,Neighborhood,Longitude,Latitude,Premise,Total Incidents
0,02/08/2020,2:18:00,5D,1700 CLIFTVIEW AVE,BURGLARY,I,312.0,EASTERN,DARLEY PARK,-76.593870,39.315341,GROCERY/CONFECTION,1
1,02/08/2020,6:00:00,6G,700 N STREEPER ST,LARCENY,I,333.0,EASTERN,MADISON EASTEND,-76.577425,39.299094,ROW/TOWNHOUSE-OCC,1
2,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,314.0,EASTERN,OLIVER,-76.594992,39.306941,ROW/TOWNHOUSE-OCC,1
3,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,314.0,EASTERN,OLIVER,-76.594992,39.306941,ROW/TOWNHOUSE-OCC,1
4,02/08/2020,17:30:00,5A,1600 E OLIVER ST,BURGLARY,I,314.0,EASTERN,OLIVER,-76.595946,39.307350,ROW/TOWNHOUSE-OCC,1

In [53]:
# Calculate the necessary statistics
min_values = df_cleaned.select_dtypes(include=[float, int]).min()
max_values = df_cleaned.select_dtypes(include=[float, int]).max()
mean_values = df_cleaned.select_dtypes(include=[float, int]).mean()
median_values = df_cleaned.select_dtypes(include=[float, int]).median()
std_values = df_cleaned.select_dtypes(include=[float, int]).std()
total_rows = df_cleaned.shape[0]
missing_values = df_cleaned.isnull().sum()
percent_missing = (missing_values / total_rows) * 100

# Create the DataFrame with the desired information
df_cleaned_info = pd.DataFrame({
    'Data Type': df_cleaned.dtypes,
    'Missing Values': missing_values,
    'Percent Missing': percent_missing,
    'Unique Values': df_cleaned.nunique(),
    'Min Value': min_values.reindex(df_cleaned.columns),
    'Max Value': max_values.reindex(df_cleaned.columns),
    'Mean': mean_values.reindex(df_cleaned.columns),
    'Median': median_values.reindex(df_cleaned.columns),
    'Standard Deviation': std_values.reindex(df_cleaned.columns)
})

df_cleaned_info

,Data Type,Missing Values,Percent Missing,Unique Values,Min Value,Max Value,Mean,Median,Standard Deviation
CrimeDate,object,0,0.000000,2297,NaN,NaN,NaN,NaN,NaN
CrimeTime,object,0,0.000000,1467,NaN,NaN,NaN,NaN,NaN
CrimeCode,object,0,0.000000,80,NaN,NaN,NaN,NaN,NaN
Location,object,0,0.000000,23675,NaN,NaN,NaN,NaN,NaN
Description,object,0,0.000000,14,NaN,NaN,NaN,NaN,NaN
Inside/Outside,object,32075,11.450205,4,NaN,NaN,NaN,NaN,NaN
Post,object,0,0.000000,256,NaN,NaN,NaN,NaN,NaN
District,object,0,0.000000,10,NaN,NaN,NaN,NaN,NaN
Neighborhood,object,0,0.000000,278,NaN,NaN,NaN,NaN,NaN
Longitude,float64,0,0.000000,94063,-76.711274,-76.529743,-76.617473,-76.614040,0.042474
Latitude,float64,0,0.000000,92691,39.200111,39.372106,39.306927,39.303087,0.029411
Premise,object,32255,11.514461,125,NaN,NaN,NaN,NaN,NaN
Total Incidents,int64,0,0.000000,1,1.000000,1.000000,1.000000,1.000000,0.000000

In [9]:
# Identify the mode of the 'Inside/Outside' and 'Premise' columns
inside_outside_mode = df_cleaned['Inside/Outside'].mode()[0]
premise_mode = df_cleaned['Premise'].mode()[0]

print(inside_outside_mode)
print(premise_mode)

df_cleaned['Inside/Outside'] = df_cleaned['Inside/Outside'].fillna(inside_outside_mode)
df_cleaned['Premise'] = df_cleaned['Premise'].fillna(premise_mode)

# Calculate the necessary statistics
min_values = df_cleaned.select_dtypes(include=[float, int]).min()
max_values = df_cleaned.select_dtypes(include=[float, int]).max()
mean_values = df_cleaned.select_dtypes(include=[float, int]).mean()
median_values = df_cleaned.select_dtypes(include=[float, int]).median()
std_values = df_cleaned.select_dtypes(include=[float, int]).std()
total_rows = df_cleaned.shape[0]
missing_values = df_cleaned.isnull().sum()
percent_missing = (missing_values / total_rows) * 100

# Create the DataFrame with the desired information
df_cleaned_info = pd.DataFrame({
    'Data Type': df_cleaned.dtypes,
    'Missing Values': missing_values,
    'Percent Missing': percent_missing,
    'Unique Values': df_cleaned.nunique(),
    'Min Value': min_values.reindex(df_cleaned.columns),
    'Max Value': max_values.reindex(df_cleaned.columns),
    'Mean': mean_values.reindex(df_cleaned.columns),
    'Median': median_values.reindex(df_cleaned.columns),
    'Standard Deviation': std_values.reindex(df_cleaned.columns)
})

df_cleaned_info

O
STREET

C:\Users\somes\AppData\Local\Temp\ipykernel_17124\2992399883.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Inside/Outside'] = df_cleaned['Inside/Outside'].fillna(inside_outside_mode)
C:\Users\somes\AppData\Local\Temp\ipykernel_17124\2992399883.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Premise'] = df_cleaned['Premise'].fillna(premise_mode)

,Data Type,Missing Values,Percent Missing,Unique Values,Min Value,Max Value,Mean,Median,Standard Deviation
CrimeDate,object,0,0.0,2297,NaN,NaN,NaN,NaN,NaN
CrimeTime,object,0,0.0,1467,NaN,NaN,NaN,NaN,NaN
CrimeCode,object,0,0.0,80,NaN,NaN,NaN,NaN,NaN
Location,object,0,0.0,23675,NaN,NaN,NaN,NaN,NaN
Description,object,0,0.0,14,NaN,NaN,NaN,NaN,NaN
Inside/Outside,object,0,0.0,4,NaN,NaN,NaN,NaN,NaN
Post,object,0,0.0,256,NaN,NaN,NaN,NaN,NaN
District,object,0,0.0,10,NaN,NaN,NaN,NaN,NaN
Neighborhood,object,0,0.0,278,NaN,NaN,NaN,NaN,NaN
Longitude,float64,0,0.0,94063,-76.711274,-76.529743,-76.617473,-76.614040,0.042474
Latitude,float64,0,0.0,92691,39.200111,39.372106,39.306927,39.303087,0.029411
Premise,object,0,0.0,125,NaN,NaN,NaN,NaN,NaN
Total Incidents,int64,0,0.0,1,1.000000,1.000000,1.000000,1.000000,0.000000

## Now you can see the data is cleaned it has no missing values we can now start analysis on it in tableau

In [10]:
# Export the cleaned DataFrame to a new CSV file
output_file_path = 'Cleaned_Homework_1_Data_Mining.csv'
df_cleaned.to_csv(output_file_path, index=False)

print(f"Data exported successfully to {output_file_path}")

Data exported successfully to Cleaned_Homework_1_Data_Mining.csv